#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app > h1 {
    color:#996dff;
    margin-top:-.5rem;
}


#app > h1{
    font-size: 3.2rem;
}

#app > h2{
    align-self: flex-start;
    margin-top:6.4rem;
    font-size: 3.2rem;
}

#app > p {
    align-self: flex-start;
    text-align: justify;
    width: min(45rem, 60vw);
    font-size: 1.6rem;
    margin-top:1.6rem;
}

#app .placeholder{
 color:#7c7c8a;
 user-select: none;
}